@page "/ClientsPotentials"
@attribute [Authorize(Roles ="Soporte,Vendedor")]
<!DOCTYPE html>
    <html>
    <head>
        <title></title>
    </head>
    <body>

        <h1>Bienvenido</h1>
    
    </body>
    </html>

@code {

}
